
<mat-form-field class="example-chip-list" appearance="fill">
    <mat-label>States List</mat-label>
    <mat-chip-list #chipList aria-label="Fruit selection">
      <mat-chip
        *ngFor="let fruit of fruits"
        (removed)="remove(fruit)">
        {{fruit}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input
        placeholder="Search State..."
        #fruitInput
        [formControl]="fruitCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)"
        (keyup.enter)="sendit()">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
        {{fruit}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <div>
    <mat-chip-list
  class="example-chip">
  <mat-chip
    class="example-box"
    cdkDrag
    *ngFor="let vegetable of vegetables; let i=index">
    {{vegetable}}
    <mat-select-trigger *ngIf="vegetable==='more'">
      <mat-select>
        <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
      </mat-select>
    </mat-select-trigger>
  </mat-chip>
</mat-chip-list>

<div>{{response}}</div>
  </div>